<footer class="container">
  <hr>
  <ul class="social-links">
    <li><a href="https://dribbble.com/billy"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
    <li><a href="https://instagram.com/btamps"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
    <li><a href="https://twitter.com/btamps"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
    <li><a href="https://github.com/btamps"><i class="fa fa-github" aria-hidden="true"></i></a></li>
  </ul>
  <p>© 2016 Billy Tamplin. All rights reserved.</p>
</footer>
