<!-- Capture and store a URL -->
{% capture location %}{{ page.url | split:'/' }}{% endcapture %}
<header class="container">
  <a href="/" class="logo"><img src="../img/logo.png" alt="Billy Tamplin"></a>
  <div class="title-role">Illustrator &amp; Visual Designer</div>
  <ul class="nav-bar">
    <li><a href="/">Work</a></li>
    {% for my_page in site.pages %}
      <!-- Compare the page title to the URL -->
      {% assign current = page.title | downcase %}

      {% if my_page.title %}
      <li><a {% if location == current %} class="nav-current page-link" {% else %}  class="page-link" {% endif %} href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
  <hr>
</header>
