// Imports
@import "detail-page";
@import "nav";

// Colors
$orange: #FF6D42;
$dark: #5C5259;

body {
  font-family: 'Lato', sans-serif;
  color: $dark;
  font-size: 16px;
}

a {
  color: $orange;
}

.btn {
  border-radius: 3px;
}

// Typography
h1,
h2,
h3 {
  font-family: 'PT Serif', sans-serif;
}

h1 {
  line-height: 1.2;
  font-size: 30px;
  font-weight: 700;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.27;
}

h3 {
  margin-bottom: 1em;
  font-size: 20px;
  margin-top: 0;
}

h4 {
  font-family: 'Lato', sans-serif;
  color: $dark;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 16px;
  font-weight: 700;
}

p {
  line-height: 1.5;
  font-size: 18px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 48px;
  }
  h3 {
    font-size: 36px;
  }
}
