// Colors
$orange: #FF9100;
$orange-dark: #FF6D00;
$dark: #444;
$gray: #999;

// Typography
$font-serif: 'Merriweather', Georgia, serif;
$font-sans: 'Lato', Helvetica, Arial, sans-serif;

body {
  font-family: $font-sans;
  color: $dark;
  font-size: 16px;
}

a {
  color: $dark;
  text-decoration: none;
  &:hover {
    color: $orange;
    text-decoration: none;
  }
}

.main-content a {
  border-bottom: 1px solid $orange;
  &:hover {
    border: none;
  }
}

.btn {
  @include button(#999);
}

// Typography
html {
	-webkit-font-smoothing: antialiased;
}
h1,
h2 {
  font-family: $font-serif;
}

h1 {
  line-height: 1.2;
  font-size: 38px;
  font-weight: 700;
}

h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.4;
  font-weight: 700;
}

h3 {
  margin-bottom: 1.5em;
  font-size: 20px;
  margin-top: 0;
  color: $gray;
}

h4 {
  font-family: $font-sans;
  color: $dark;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 700;
}

p {
  line-height: 1.5;
  font-size: 18px;
  font-weight: 400;
}

@media (min-width: 768px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 26px;
  }
  p {
    line-height: 1.6;
    font-size: 20px;
  }
}
