// Detail Page
.introduction {
  float: none;
  margin: 40px auto;
  text-align: left;
  h1 {
    margin-bottom: 20px;
  }
  p {
    font-size: 16px;
  }
}

.content-block {
  padding-top: 3em;
  padding-bottom: 3em;
  .row:last-child {
    figure:last-child {
      margin-bottom: 0;
    }
  }
}

.description {
  &.center {
    margin: 0 auto 5em;
    float: none;
    h2, p {
      text-align: center;
    }
  }
}
figure {
  margin-top: 0;
  margin-bottom: 5em;
  img {
    width: 100%;
    margin: 0 auto 1em;
    display: block;
  }
  figcaption {
    text-align: center;
    font-family: $font-sans;
    margin-bottom: 0;
  }
}

.web-window {
  margin-top: 32px;
  &:before {
    background: url("/img/browser-start.svg") no-repeat 0 0,url("/img/browser-end.svg") no-repeat 100% 0,linear-gradient(#ddd, #ddd 6px, #fff 6px, #fff 26px, #ddd 26px);
    background-size: auto 32px;
    border-radius: 8px 8px 0 0;
    bottom: 100%;
    content: "";
    height: 32px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: 15px;
    margin-right: 15px;
  }
  img {
    border: 1px solid #ddd;
    border-top: 0;
  }
}

.feature {
  img, p {
    width: 100%;
    display: block;
    font-size: 1em;
    max-width: 140px;
    margin: 0 auto 30px;
    text-align: center !important;
  }
  p {
    max-width: 200px;
  }
}

.side-by-side {
  img {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
}

.full-gallery {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  overflow: hidden;
  img {
    width: 48px;
    height: 48px;
    margin: 0 auto 10px;
    display: block;
  }
  .row {
    div {
      padding-top: 100px !important;
      padding-bottom: 80px !important;
    }
    div:nth-child(1) {
      background: #2196F3;
    }
    div:nth-child(2) {
      background: #00BCD4;
    }
    div:nth-child(3) {
      background: #4CAF50;
    }
    div:nth-child(4) {
      background: #FFC107;
    }
    div:nth-child(5) {
      background: #FF5722;
    }
    div:nth-child(6) {
      background: #673AB7;
    }
    p {
      color: white;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: bold;
      font-size: 12px;
    }
  }
}

// Small devices (tablets, 768px and up)
@media (min-width: 768px) {
  .introduction {
    margin: 100px auto;
    text-align: center;
    h1 {
      margin-bottom: 40px;
    }
    p {
      font-size: 20px;
    }
  }
  .content-block {
    padding-top: 6em;
    padding-bottom: 6em;
  }

  .feature {
    img {
      max-width: 200px;
    }
  }
  .full-gallery {
    img {
      width: 72px;
      height: 72px;
      margin: 0 auto 10px;
      display: block;
    }
    p {
      font-size: 16px;
    }
  }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
