// Detail Page
.project-header {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 0;
  h1 {
    font-size: 30px;
    line-height: 1.3;
  }
  h4 {
    margin-bottom: 1rem;
  }
  ul {
    list-style: none;
    margin: 0 0 30px 0;
    padding-left: 0;
    li {
      line-height: 1.6;
    }
  }
  p {
    font-size: 18px;
  }
  .title,
  .overview,
  .role {
    margin-bottom: 20px;
  }
  .role {
    p {
      font-size: 16px;
    }
  }
}
.introduction {
  padding-top: 28px;
  padding-bottom: 60px;
  h1 {
    margin-bottom: 20px;
    text-align: center;
  }
  h4 {
    color: $gray;
  }
  ul {
    list-style: none;
    margin: 0 0 30px 0;
    padding-left: 0;
    li {
      line-height: 1.6;
    }
  }
  .hero-image {
    margin: 30px auto 50px;
    @include responsive(medium-screens) {
      margin: 60px auto 100px;
    }
    img {
      margin-bottom: 0;
    }
  }
}
.project-details {
  ul {
    list-style: none;
    margin: 0 0 30px 0;
    padding-left: 0;
    li {
      line-height: 1.6;
    }
  }
}

.description {
  &.center {
    margin: 0 auto 3em;
    float: none;
    @include responsive(medium-screens) {
      margin: 0 auto 5em;
    }
    h2, p {
      text-align: center;
    }
  }
}
figure {
  margin-top: 0;
  margin-bottom: 5em;
  img {
    width: 100%;
    margin: 0 auto 1em;
    display: block;
  }
  figcaption {
    text-align: center;
    font-family: $font-sans;
    margin-bottom: 0;
  }
}

.feature {
  img, p {
    width: 100%;
    display: block;
    font-size: 1em;
    max-width: 140px;
    margin: 0 auto 30px;
    text-align: center !important;
  }
  p {
    max-width: 200px;
  }
}

.side-by-side {
  img {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
}

.post-closing {
  h2, p {
    text-align: center;
  }
}

.bottom-projects {
  .btn {
    display: block;
    margin: 0 auto;
    max-width: 200px;
  }
}
// Small devices (tablets, 768px and up)
@media (min-width: 768px) {
  .project-header {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .introduction {
    padding-top: 60px;
    padding-bottom: 60px;
    h1 {
      margin-bottom: 40px;
      line-height: 1.3;
    }
  }

  .feature {
    img {
      max-width: 200px;
    }
  }
  .full-gallery {
    img {
      width: 72px;
      height: 72px;
      margin: 0 auto 10px;
      display: block;
    }
    p {
      font-size: 16px;
    }
  }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
