.container {
  padding-left: 24px;
  padding-right: 24px;
}
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}


// Margin Helper Classes
.mt-med {
  margin-top: 2em;
}

// Small devices (tablets, 768px and up)
@media (min-width: 768px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  .main-content {
    h2, p {
      text-align: left;
    }
  }
  .mt-med {
    margin-top: 4em;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) {
  .container {
    width: 100%;
    max-width: 1200px;
  }
}
