// Mixins
$width-small:  400px;
$width-medium: 768px;
$width-large:  992px;

@mixin responsive($width) {
  @if $width == small-screens {
    @media only screen and (min-width: $width-small) { @content; }
  }
  @else if $width == medium-screens {
    @media only screen and (min-width: $width-medium) { @content; }
  }
  @else if $width == wide-screens {
    @media only screen and (min-width: $width-large) { @content; }
  }
}

@mixin rounded($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}

// Placeholders
%content-block {
  padding-top: 60px;
  padding-bottom: 60px;
  @include responsive(medium-screens) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@mixin button($color) {
  @include rounded(3px);
  padding: 12px 30px;
  margin: 20px 0;
  border: 2px solid $color;
  font-size: 14px;
  font-weight: 700;
  color: $color;
  background: transparent;

  @include responsive(medium-screens) {
  font-size: 16px;
  }

  &:hover {
    background: $color;
    color: white;
  }
}
