// NavBar Styles
.navbar {
  background-color: white;
  border: 0;
  border-radius: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 0;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
  .navbar-collapse {
    border: 0;
  }
}

.navbar-nav {
  li {
    a.nav-link {
      font-family: $font-sans;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      font-size: 14px;
      color: $gray !important;
      &:hover {
        color: $orange !important;
      }
    }
    .next, .prev {
      font-size: 20px;
      display: none;
    }
  }
}

.navbar-brand {
  padding: 0;
  margin-left: 0;
  text-transform: uppercase;
  color: $dark;
  &:hover {
    color: $orange !important;
  }
  img {
    width: 38px;
    float: left;
    margin-right: 12px;
    margin-left: 15px;
  }
  span {
    font-size: 12px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-top: 10px;
    font-family: $font-sans;
  }
}

.navbar-toggle {
  margin-top: 0;
  margin-bottom: 0;
}

// show, hide the nav on post page
.post {
  padding-top: 62px;
  nav {
    height: 62px;
    position: fixed !important;
    top: 0;
    transition: top 0.25s ease-in-out;
    width: 100%;
    height: auto;
    z-index: 100;
  }
  .nav-up {
      top: -62px;
  }
}

// Small devices (tablets, 768px and up)
@media (min-width: 768px) {
  .navbar-brand {
    margin-left: 0 !important;
    padding-top: 5px;
    img {
      width: 40px;
      margin-left: 0;
    }
    span {
      font-size: 18px;
      margin-top: 7px;
    }
  }
  .nav li {
    .next, .prev {
      display: block !important;
    }
  }
  .post {
    padding-top: 74px;
    .nav-up {
        top: -74px;
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
