// NavBar Styles
.navbar {
  background-color: white;
  border: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 0;
  .navbar-collapse {
    border: 0;
  }
}

.nav {
  li {
    a {
      font-family: $font-sans;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      font-size: 14px;
      &:hover {
        color: $orange !important;
      }
    }
  }
}

.navbar-brand {
  padding: 5px 0 0;
  margin-left: 0;
  height: auto;
  &:hover {
    color: $orange !important;
  }
  img {
    width: 38px;
    float: left;
    margin-right: 12px;
    margin-left: 15px;
  }
  span {
    font-size: 12px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-top: 10px;
    font-family: $font-sans;
  }
}

.navbar-toggle {
  margin-top: 0;
  margin-bottom: 0;
}

// Small devices (tablets, 768px and up)
@media (min-width: 768px) {
  .navbar-brand {
    margin-left: 0 !important;
    img {
      width: 40px;
      margin-left: 0;
    }
    span {
      font-size: 15px;
      margin-top: 9px;
      letter-spacing: 1.7px;
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
