// .baking-pins styles
.baking-pins {

  .sketching, .refined, .photos, .final {
    @extend %content-block;
    margin-bottom: 0;
  }
  .sketching {
    background: #ddd;
  }
  .sketches {
    margin-top: 60px;
    figure {
      margin-bottom: 20px;
    }
  }
  .tween-text {
    margin-bottom: 60px;
  }
  .final {
    background: #eee;
    figure {
      margin-bottom: 0;
    }
  }
  .photos {
    figure {
      margin-bottom: 40px;
    }
  }
}
