// .baking-pins styles
.baking-pins {
  .introduction {
    background: #f4f4f4;
    h4 {
      color: #999;
    }
    a {
      border-color: #999;
      &:hover {
        color: #999;
      }
    }
  }
  .sketching {
    @extend %content-block;
    background: #ddd;
  }
  .refined, .photos {
    @extend %content-block;
  }
  .final {
    @extend %content-block;
    background: #eee;
  }
  .photos {
    padding-bottom: 0;
  }
}
