// .illustrations styles
.illustrations {
  .work {
    margin-top: 0;
    .row:last-child figure:last-child {
      margin-bottom: 0;
    }
  }
  figure {
    margin-bottom: 20px;
  }
}


// Small devices (tablets, 768px and up)
@media (min-width: 768px) {

.illustrations {
}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
