// .looker-lp styles
.looker-lp {
  .introduction {
    h4 {
      color: #8d80ba;
    }
    a {
      border-color: #8d80ba;
      &:hover {
        color: #8d80ba;
      }
    }
    .hero-image {
      margin: 20px auto 40px;
      @include responsive(medium-screens) {
        margin: 50px auto 60px;
      }
    }
  }

  .wireframes,.responsive,.schedules, .forms {
    @extend %content-block;
    background-color: #f4f4f4;
  }
  .wireframes {
    background: #ddd;
  }
  .schedules {
    background-color: #e5e5e5;
  }
  .forms {
    figure {
      margin-bottom: 0;
    }
  }
}
