// .looker-lp styles
.looker-lp {
  .feature-box {
    position: relative;
    background: url('../img/looker-lp/blur-city.jpg') top center no-repeat;
    background-size: cover;

    img {
      margin-bottom: -3em !important;
    }
  }

  .detail {
    padding-top: 5em;
    background-color: #f4f4f4;
    h1 {
      color: #604c96;
    }
    h4 {
      color: #222;
    }
  }
  .wireframes {
    background: #666;
    h2, p {
      color: white;
    }
  }

  .responsive {
    background-color: #eee;
  }
  .schedules {
    background-color: #999;
  }
  .forms {
    background-color: #f4f4f4;
  }
  .palette {
    background-color: #999;
    p {
      color: white;
    }
    .colors {
      display: flex;
      justify-content: space-between;
      li {
        display: block;
        height: 80px;
        width: 60px;
        float: left;
        position: relative;
        border-radius: 4px;
        box-shadow: 0 2px 4px hsla(0, 0%, 0%, .3);
      }
      p {
        background: white;
        width: 100%;
        text-align: center;
        padding: 10px 5px;
        margin: 0;
        position: absolute;
        bottom: 0;
        color: hsla(0, 0%, 0%, .87);
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        font-size: 9px;
        letter-spacing: 1px;
      }
      .yellow {
        background-color: #F2B431;
      }
      .purple {
        background-color: #8D80BA;
      }
      .light-gray {
        background-color: #CCCCCC;
      }
      .gray {
        background-color: #666666;
      }
      .dark {
        background-color: #393B40;
      }
    }
  }
}


// Small devices (tablets, 768px and up)
@media (min-width: 768px) {

.looker-lp {
  .feature-box {
    img {
      margin-bottom: -5em !important;
    }
  }

  .detail {
    padding-top: 9em;
  }
  .palette {
    .colors {
      li {
        width: 200px;
        height: 200px;
        p {
          font-size: 14px;
          padding: 15px;
        }
      }
    }
  }
}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
