// .oui styles
.oui {
  .introduction {
    background: #f4f4f4;
    .hero-image {
      img {
        max-width: 600px;
      }
    }
  }
  .sketches, .refined, .final {
    @extend %content-block;
    p {
      text-align: left;
      margin-bottom: 1em;
    }
  }

  .final {
    background: #f7f7f7;
    .final-logo {
      margin-bottom: 60px;
      img {
        max-width: 500px;
      }
    }
  }
}
