// .oui styles
.oui {
  .hero-image {
    @extend %content-block;
    background: white;
    img {
      max-width: 500px;
    }
  }
  .sketches, .refined, .final {
    @extend %content-block;
    background: white;
  }

  .final {
    background: white;
    .final-logo {
      margin-bottom: 60px;
      img {
        max-width: 500px;
      }
    }
  }
}
