// .real-estate styles
.real-estate {

  .introduction {
    background: #F5F4F0;
    h4 {
      color: #c6b797;
    }
    a {
      border-color: #c6b797;
      &:hover {
        color: #c6b797;
      }
    }
  }
  .hero-image {
    img {
      max-width: 600px;
    }
    margin-bottom: 0;
  }

  .features {
    @extend %content-block;
    .feature {
      img {
        max-width: 280px;
        margin-top: -40px;
        margin-bottom: -30px;
      }
      h4 {
        text-align: center;
      }
      p {
        max-width: 280px;
      }
    }
  }
  .two-up {
    @extend %content-block;
    background: #F5F4F0;
    figure {
      margin-bottom: 0;
      img {
        max-width: 500px;
        margin-bottom: 0;
      }
    }
  }
  .mobile-gallery {
    @extend %content-block;
    background: #CCE8DB;
    figure {
      img {
        max-width: 300px;
      }
    }
  }
}


// Small devices (tablets, 768px and up)
@media (min-width: 768px) {

.real-estate {
  .features img {
    margin-bottom: 0;
  }
  .mobile-gallery {
    padding-bottom: 0;
  }
}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
