// .real-estate styles
.real-estate {
  figure, img {
    margin: 0;
  }
  img {
    &.tan {
      background: #F0EFEB;
    }

    &.white {
      background: #FFF;
    }
  }
  .text-box {
    background: white;
    padding: 60px 20px;
    p {
      font-size: 16px;
      line-height: 1.6;
    }
  }
  h3 {
    color: #b4a487;
    margin-bottom: 1rem;
  }
}


// Small devices (tablets, 768px and up)
@media (min-width: 768px) {
  .real-estate {
    .text-box {
      padding: 100px 80px;
      p {
        font-size: 18px;
      }
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
