// .semisweet styles
.semisweet {
  .introduction {
    background: #EFEBE9;
    h4 {
      color: #a1887f;
    }
    a {
      border-color: #a1887f;
      &:hover {
        color: #a1887f;
      }
    }
  }
  .hero-image {
    max-width: 100%;
    margin: 40px auto 0;
    img {
      margin-bottom: 0;
    }
  }
  .design-system {
    @extend %content-block;
  }
  .blog {
    @extend %content-block;
    background: #eeeae8;
    figure, figure img {
      margin-bottom: 0;
    }
    padding-bottom: 0;
  }
  .shop {
    @extend %content-block;
    background: #D7CCC8;
    h4 {
      margin-bottom: 20px;
      padding-left: 5px;
    }
    figure, figure img {
    }
  }
}


// Small devices (tablets, 768px and up)
@media (min-width: 768px) {


}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
