// .semisweet styles
.semisweet {
  .introduction {
    background: #f6f2f1;
    h4 {
      color: #a1887f;
    }
    a {
      border-color: #a1887f;
      &:hover {
        color: #a1887f;
      }
    }
  }
  .hero-image {
    max-width: 100%;
    margin: 0 auto -60px;
    @include responsive(medium-screens) {
      margin: -20px auto -60px;
    }
    img {
      margin-bottom: 0;
    }
  }
  .project-details {
    padding-top: 60px;
    padding-bottom: 60px;
    @include responsive(medium-screens) {
      padding-top: 80px;
      padding-bottom: 60px;
    }
    background: #eeeae8;
    h4 {
      color: #a1887f;
    }
    a {
      border-color: #a1887f;
      &:hover {
        color: #a1887f;
      }
    }
    ul {
      list-style: none;
      margin: 0 0 30px 0;
      padding-left: 0;
      li {
        line-height: 1.6;
      }
    }
  }
  .design-system, .blog, .shop {
    @extend %content-block;
    p {
      text-align: left;
    }
  }
  .blog {
    background: #eeeae8;
    figure, figure img {
      margin-bottom: 0;
    }
    padding-bottom: 0;
  }
  .shop {
    background: #D7CCC8;
    h4 {
      margin-bottom: 20px;
      padding-left: 5px;
    }
    figure, figure img {
    }
  }
}


// Small devices (tablets, 768px and up)
@media (min-width: 768px) {


}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
