// .shirts styles
.shirts {
  background: #f4f4f4;
  .work {
    margin-top: 40px;
    figure:last-child {
      margin-bottom: 0;
    }
  }
  figure {
    box-shadow: 0 2px 6px hsla(0, 0%, 0%, .2);
  }
}
