// .shirts styles
.shirts {
  .designs {
    figure {
      margin-bottom: 40px;
      @include responsive(medium-screens) {
        margin-bottom: 60px;
      }
      img {
        margin-bottom: 0;
      }
    }

    & > .row:last-child figure {
      margin-bottom: 0;
    }
  }
}
