// .swell styles
.swell {
  .introduction {
    background: #ccefe8;
    .hero-image {
      margin-top: 30px;
      margin-bottom: -160px;
      @include responsive(medium-screens) {
        margin-bottom: -200px;
      }
      img {
        max-width: 600px;
      }
    }
    h4 {
      color: #333;
    }
    a {
      border-color: #f279a1;
      &:hover {
        color: #f279a1;
      }
    }
  }
  .project-details, .sketches, .character, .final {
    @extend %content-block;
  }
  .project-details {
    padding-top: 150px;
    padding-bottom: 60px;
    @include responsive(medium-screens) {
      padding-top: 200px;
      padding-bottom: 80px;
    }
  }
  .sketches {
    background: #eee;
    .description {
      p {
        text-align: left;
      }
    }
    h4 {
      text-align: center;
      color: #f279a1;
      text-transform: none;
      letter-spacing: 0;
      font-size: 20px;
      margin-bottom: 30px;
    }
    figure {
      max-width: 650px;
      margin: 0 auto 60px;
      padding-left: 15px;
      padding-right: 15px;
      @include responsive(medium-screens) {
        margin: 0 auto 100px;
      }
      figcaption {
        text-align: left;
        font-size: 18px;
      }
      &:last-child {
        max-width: 400px;
      }
    }
  }
  .character {
    .description {
      p  {
        text-align: left;
      }
    }
    h3 {
      text-align: center;
    }
    figure {
      img {
        max-width: 900px;
      }
    }
  }
  .final {
    background: #ccefe8;
    h2 {
      text-align: center;
      margin-bottom: 100px;
    }
    figure {
      img {
        max-width: 380px;
      }
    }
  }
}
