---
layout: default
---
<div class="container detail">
  <div class="row feature-box">
    <img src="/img/{{ page.feature-image }}" alt="{{ page.title }}">
  </div>
  <div class="row project-frontmatter">
    <h1 class="col-sm-12">{{ page.title }}</h1>
    <div class="project-details col-sm-7">
      <h4>Project Details</h4>
      <p>{{ page.project-details }}</p>
    </div>
    <div class="client-box col-sm-2 col-sm-offset-1">
      <h4>Client</h4>
      <p>{{ page.client }}</p>
    </div>
    <div class="technique-box col-sm-2">
      <h4>Technique</h4>
      <p>{{ page.categories }}</p>
    </div>
  </div>
  <hr>
</div>

<div class="container main-content">
  {{ content }}
</div>
