---
layout: detail
---
<div class="container-fluid feature-box" style="background-color:{{ page.feature-bg-color }};">
  <div class="container {% if page.hero-full %}hero-full{% endif %}">
    <img class="fadeInUp" src="/img/{{ page.feature-image }}" alt="{{ page.title }}" {% if page.feature-max-width %} style="max-width:{{ page.feature-max-width }};" {% endif %}>
  </div>
</div>
<div class="container-fluid detail" style="background-color:{{ page.detail-bg-color }};">
  <div class="container project-frontmatter">
    <div class="row">
      <h1 class="col-sm-7" style="color:{{ page.primary-color }};">{{ page.title }}</h1>
      <div class="project-details col-sm-7">
        <h4 style="color:{{ page.secondary-color }};">Project Details</h4>
        <p style="color:{{ page.body-color }};">{{ page.project-details }}</p>
        {% if page.project-cta-url %}
          <button href="{{ page.project-cta-url }}">{{ page.project-cta-text }}</button>
        {% endif %}
      </div>
      <div class="client-box col-sm-2 col-sm-offset-1">
        <div class="client-element">
          <h4 style="color:{{ page.secondary-color }};">Client</h4>
          <p><a href="{{ page.client-website }}" style="color:{{ page.body-color }};">{{ page.client }}</a></p>
        </div>
        <div class="client-element">
          <h4 style="color:{{ page.secondary-color }};">Industry</h4>
          <p style="color:{{ page.body-color }};">{{ page.industry }}</p>
        </div>
      </div>
      <div class="services-box col-sm-2">
        <h4 style="color:{{ page.secondary-color }};">Services</h4>
        <ul>
          {% for tag in page.categories %}
          <li style="color:{{ page.body-color }};">{{ tag }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid main-content">
  {{ content }}
</div>

<div class="container workbox">
  <hr>
  <div class="row">
  <h4 class="col-sm-12">More work</h4>
  {% for post in site.posts %}
    <!-- Exclude Current Post -->
    {% if post.url != page.id %}
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <span class="overlay-icon"></span>
          <img src="/img/{{ post.thumbnail }}" alt="{{ post.title }}">
          <div class="title">
            <h4>{{ post.title }}</h4>
            <p>{{ post.subhead }}</p>
          </div>
        </a>
      </div>
    </div>
    {% endif %}
  {% endfor %}

  </div>
</div>
