---
layout: default
---
<div class="container detail">
  <div class="row feature-box">
    <img src="/img/{{ page.feature-image }}" alt="{{ page.title }}">
  </div>
  <div class="row project-frontmatter">
    <h1 class="col-sm-12">{{ page.title }}</h1>
    <div class="project-details col-sm-7">
      <h4>Project Details</h4>
      <p>{{ page.project-details }}</p>
    </div>
    <div class="client-box col-sm-2 col-sm-offset-1">
      <h4>Client</h4>
      <p>{{ page.client }}</p>
    </div>
    <div class="technique-box col-sm-2">
      <h4>Technique</h4>
      {% for tag in page.categories %}
      <p>{{ tag }}</p>
      {% endfor %}
    </div>
  </div>
  <hr>
</div>

<div class="container main-content">
  {{ content }}
</div>

<div class="container workbox">
  <div class="row">
  <hr>
  <h2>More of my work</h2>
  {% for post in site.posts %}
    <!-- Exclude Current Post -->
    {% if post.url != page.id %}
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <span class="overlay-icon"></span>
          <img src="/img/{{ post.thumbnail }}" alt="{{ post.title }}">
          <div class="caption">
            <h3>{{ post.title }}</h3>
          </div>
        </a>
      </div>
    </div>
    {% endif %}
  {% endfor %}

  </div>
</div>
